@*IEnumerble serve para receber um conjunto de dados(Matrix) para podermos trabalhar essas dados.*@
@model IEnumerable<CadastroFornecedor.Models.Cadastro>

@{
    ViewData["Title"] = "Lista Fornecedores";
}

<h1>Fornecedores</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Adicionar Fornecedor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
			    @Html.DisplayNameFor(model => model.RazaoSocial)
            </th>
            <th>
			    @Html.DisplayNameFor(model => model.NomeFantasia)
            </th>
            <th>
			    @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
			    @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
			    @Html.DisplayNameFor(model => model.Contato)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.RazaoSocial</td>
            <td>@item.NomeFantasia</td>
            <td>@item.Email</td>
            <td>@item.Telefone</td>
            <td>@item.Endereco</td>
            <td>@item.Contato</td>
            <td>
                <a class="btn btn-outline-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">
                    Editar
                </a>
                <a class="btn btn-outline-info btn-sm" asp-action="Details" asp-route-id="@item.Id">
                    Detalhes
                </a>
                <a class="btn btn-danger text-white btn-sm" asp-action="Delete" asp-route-id="@item.Id">
                    Apagar
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>